{% extends 'base.html.twig' %}

{% block body %}
<h2>Lista de Municipios</h1>

<table class="table">
    <thead>
        <tr>
            <th>Municipio</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Departamento</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for municipio in municipios %}
        <tr>
            <td>{{ municipio.Municipio }}</td>
            <td>{{ municipio.Latitud }}</td>
            <td>{{ municipio.Longitud }}</td>
            <td>{{ municipio.Departamento.departamento }}</td>
            <td>
                <a href="{{ path('municipio_show', { 'id': municipio.id }) }}">show</a><br />
                <a href="{{ path('municipio_edit', { 'id': municipio.id }) }}">edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('municipio_new') }}">Create a new municipio</a>
{% endblock %}
