{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ departamento.Departamento }}</h2>

    <h3>Lista de Municipios</h3>

<table class="table">
    <thead>
        <tr>
            <th>Municipio</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for municipio in departamento.municipios %}
        <tr>
            <td>{{ municipio.Municipio }}</td>
            <td>{{ municipio.Latitud }}</td>
            <td>{{ municipio.Longitud }}</td>
            <td>
                <a href="{{ path('municipio_show', { 'id': municipio.id }) }}">ver</a><br />
                <a href="{{ path('municipio_edit', { 'id': municipio.id }) }}">editar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    <ul class="pull-left">
        <li>
            <a href="{{ path('departamento_index') }}">Regresar al listado"</a>
        </li>
        <li>
            <a href="{{ path('departamento_edit', { 'id': departamento.id }) }}" class="btn btn-primary">Editar</a>
        </li>
        <li>
            <a href="{{ path('municipio_departamento_new', { 'id': departamento.id }) }}" class="btn btn-success">Nuevo municipio</a>
        </li>
    </ul>
{% endblock %}
