{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ departamento.Departamento }}</h2>

    <h3>Lista de Municipios</h3>

<table class="table">
    <thead>
        <tr>
            <th>Municipio</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for municipio in departamento.municipios %}
        <tr>
            <td>{{ municipio.Municipio }}</td>
            <td>{{ municipio.Latitud }}</td>
            <td>{{ municipio.Longitud }}</td>
            <td>
                <a href="{{ path('municipio_show', { 'id': municipio.id }) }}">show</a><br />
                <a href="{{ path('municipio_edit', { 'id': municipio.id }) }}">edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    <ul class="pull-left">
        <li>
            <a href="{{ path('departamento_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('departamento_edit', { 'id': departamento.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
