{% extends 'base.html.twig' %}

{% block body %}
<h2>Lista de Fiestas patronales</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Lugar</th>
            <th width="20%">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for fiestaPatronal in fiestaPatronals %}
        <tr>
            <td>{{ fiestaPatronal.Nombre }}</td>
            <td>{{ fiestaPatronal.Municipio.Departamento.departamentod }} - {{ fiestaPatronal.Municipio.municipio}}</td>
            <td>
                <a href="{{ path('fiestapatronal_show', { 'idFiestaPatronal': fiestaPatronal.idFiestaPatronal }) }}">show</a><br />
                <a href="{{ path('fiestapatronal_edit', { 'idFiestaPatronal': fiestaPatronal.idFiestaPatronal }) }}">edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('fiestapatronal_new') }}">Create a new fiestaPatronal</a>
{% endblock %}
