{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ fiestaPatronal.Nombre }}</h2>
    <h2><small>{{fiestaPatronal.Municipio}}</small></h2>

    <table>
        <tbody>
            <tr>
                <th>Descripcion</th>
                <td>{{ fiestaPatronal.Descripcion | raw }}</td>
            </tr>
            <tr>
                <th>Latitud</th>
                <td>{{ fiestaPatronal.Latitud }}</td>
            </tr>
            <tr>
                <th>Longitud</th>
                <td>{{ fiestaPatronal.Longitud }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="pull-left">
        <li>
            <a href="{{ path('fiestapatronal_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('fiestapatronal_edit', { 'id': fiestaPatronal.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
