{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ fiestaPatronal.Nombre }}</h2>
    <h2><small>{{fiestaPatronal.Municipio}}</small></h2>

    <table>
        <tbody>
            <tr>
                <th>Fecha</th>
                <td>{{ fiestaPatronal.Fecha | date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ fiestaPatronal.Descripcion | raw }}</td>
            </tr>
            <tr>
                <th>Latitud</th>
                <td>{{ fiestaPatronal.Latitud }}</td>
            </tr>
            <tr>
                <th>Longitud</th>
                <td>{{ fiestaPatronal.Longitud }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="pull-left">
        <li>
            <a href="{{ path('fiestapatronal_index') }}">Regresar a la lista</a>
        </li>
        <li>
            <a href="{{ path('fiestapatronal_edit', { 'id': fiestaPatronal.id }) }}" class="btn btn-primary">Editar</a>
        </li>
    </ul>
{% endblock %}
